<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Sobre Nosotros</h5>
        <p>Información sobre la empresa.</p>
      </div>
      <div class="col-md-4">
        <h5>Contacto</h5>
        <p>Email: infoempresa.com</p>
        <p>Teléfono: +123 456 7890</p>
      </div>
      <div class="col-md-4">
        <h5>Síguenos</h5>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
      </div>
    </div>
  </div>
</footer>
