<body>
  <header>
    <div class="container">
      <nav>
        <a href="#" class="logo">CHAMBITAS</a>
        <ul>
          <li><a href="#">CHAMBAS</a></li>
          <li><a href="#">Servicios para distribuidores</a></li>
          <li><a href="#">Contacta</a></li>
        </ul>
        <div class="search-bar">
          <input type="text" placeholder="Buscar">
          <button type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <div class="container-middle"> </div>
    <section class="banner">
      <div class="container">
        <h1>Te ayudamos en los que necesitas!!!</h1>
        <p>Todo el trabajo es para ayudar</p>
      </div>
    </section>

    <section class="products">
      <div class="container">
        <h2>Categorías</h2>
        <ul class="categories">
          <li><a href="#">Albañileria</a></li>
          <li><a href="#">Mecanica</a></li>
          <li><a href="#">Plomeria</a></li>
          <li><a href="#">Mas...</a></li>
        </ul>

        <div class="products-list">
        </div>
      </div>
    </section>
  </main>

  <footer class="w-100 h-5 bg-primary">
      <p>&copy; 2024 CHAMBITAS. Todos los derechos reservados.</p>
      <ul class="social-media">
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul>
  </footer>

  <script src="script.js"></script>
</body>
