<section class="h-auto h-custom gradient-custom-2" style="height: 100% !important;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-6">

                <div class="p-5">
                  <h3 class="fw-normal mb-5" style="color: #4835d4;">Informacion general</h3>

                  <div class="ol-md-6 mb-4 pb-2">

                    <div data-mdb-input-init class="form-outline mt-4">
                      <label class="form-label" for="nombre">Nombre</label>
                      <input type="text"  name="nombre" class="form-control form-control-lg" />
                    </div>

                    <div data-mdb-input-init class="form-outline mt-4">
                      <label class="form-label" for="apaterno">Apellido Paterno</label>
                      <input type="text"  class="form-control form-control-lg" name="apaterno" />
                    </div>

                    <div data-mdb-input-init class="form-outline mt-4">
                      <label class="form-label" for="amaterno">Apellido Materno</label>
                      <input type="text" class="form-control form-control-lg" name="amaterno" />
                    </div>

                    <div data-mdb-input-init class="form-outline mt-4">
                      <label class="form-label" for="oficio">Oficio</label>

                      <select class="form-select" aria-label="Default select example" name="oficio">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>


                    <div class="form-floating mt-5">
                      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="descripcion"></textarea>
                      <label for="floatingTextarea2">Descripción</label>
                    </div>

                    <div class="mb-3">
                      <label for="img" class="form-label">Imagen perfil</label>
                      <input class="form-control" type="file" name="img">
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-lg-6 bg-indigo text-white">
                <div class="p-5">
                  <h3 class="fw-normal mb-5">Contact Details</h3>

                  <div class="mb-4 pb-2">
                    <div data-mdb-input-init class="form-outline form-white">
                      <input type="tel" id="numTel" name="numTel" class="form-control form-control-lg"
                             pattern="[0-9]*" inputmode="numeric" title="Por favor, introduzca sólo números.">
                      <label class="form-label" for="numTel">Número Teléfono</label>
                    </div>
                  </div>



                  <div class="row">
                    <div class="col-md-5 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline form-white">
                        <input type="text" class="form-control form-control-lg"  name="cp"/>
                        <label class="form-label" for="cp">C.P.</label>
                      </div>

                    </div>
                    <div class="col-md-7 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline form-white">
                        <input type="text" name="municipio" class="form-control form-control-lg" />
                        <label class="form-label" for="municipio">Municipio</label>
                      </div>

                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div data-mdb-input-init class="form-outline form-white">
                      <input type="text" class="form-control form-control-lg" name="ciudad"/>
                      <label class="form-label" for="ciudad">Ciudad</label>
                    </div>
                  </div>

                  <div class="mb-4">
                    <div data-mdb-input-init class="form-outline form-white">
                      <input type="email"  class="form-control form-control-lg" name="email" />
                      <label class="form-label" for="email">Correo</label>
                    </div>
                  </div>

                  <div class="mb-4">
                    <div data-mdb-input-init class="form-outline form-white">
                      <input type="password" class="form-control" name="password" aria-describedby="passwordHelpBlock">
                      <label for="password" class="form-label">Password</label>
                      <div id="passwordHelpBlock" class="form-text">
                        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                      </div>
                    </div>
                  </div>



                  <div class="form-check d-flex justify-content-start mb-4 pb-3">
                    <input class="form-check-input me-3" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label text-white" for="form2Example3">
                      I do accept the <a href="#!" class="text-white"><u>Terminos y condiciones</u></a> of your
                      site.
                    </label>
                  </div>

                  <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg"
                  data-mdb-ripple-color="dark">Cancelar</button>

                  <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg ms-5"
                    data-mdb-ripple-color="dark">Register</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
