<!-- Button trigger modal -->
<button type="button"  data-bs-toggle="modal" data-bs-target="#modalUser">
  Registrarme
</button>

<!-- Modal -->
<div class="modal fade" id="modalUser" tabindex="-1" aria-labelledby="modalUserLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalUserLabel">¿Qué tipo de usuario eres?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Tipo usuario</h3>
        <ul>
          <li>Sin oficio: Busco personas con algún oficio para realizar un trabajo.</li>
          <li>Con oficio: Ofresco mis servicios respecto a mi oficio.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Con oficio</button>
        <button type="button" class="btn btn-primary">Sin oficio</button>
      </div>
    </div>
  </div>
</div>
