<app-layout>
  <div class="row body-form h-auto">
    <div class="container my-5 ">
      <div class="form-wrapper p-5 mx-auto shadow rounded">
        <div class="logo-container text-center mb-4">
          <img src="logo.png" alt="Logo" class="logo" />
        </div>
        <form (ngSubmit)="submitForm()" #registroForm="ngForm">
          <h2 class="text-center mb-4">Formulario de Registro</h2>

          <!-- Nombre de trabajo -->
          <div class="form-group">
            <label for="nombreTrabajo">Nombre del trabajo</label>
            <input
              type="text"
              class="form-control"
              id="nombreTrabajo"
              name="nombreTrabajo"
              [(ngModel)]="registro.nombreTrabajo"
              required
              minlength="10"
              maxlength="60"
              [ngClass]="{
                'is-invalid':
                  registroForm.controls['nombreTrabajo'].invalid &&
                  registroForm.controls['nombreTrabajo'].touched
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="registroForm.controls['nombreTrabajo']?.errors?.['required']"
            >
              El nombre del trabajo es obligatorio.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="registroForm.controls['nombreTrabajo']?.errors?.['minlength']"
            >
              El nombre del trabajo debe tener al menos 10 caracteres.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="registroForm.controls['nombreTrabajo']?.errors?.['maxlength']"
            >
              El nombre del trabajo no puede tener más de 60 caracteres.
            </div>
          </div>

          <!-- Descripción del trabajo -->
          <div class="form-group">
            <label for="descripcionTrabajo">Descripción del trabajo</label>
            <textarea
              class="form-control"
              id="descripcionTrabajo"
              name="descripcionTrabajo"
              [(ngModel)]="registro.descripcionTrabajo"
              required
              minlength="100"
              maxlength="500"
              [ngClass]="{
                'is-invalid':
                  registroForm.controls['descripcionTrabajo'].invalid &&
                  registroForm.controls['descripcionTrabajo'].touched
              }"
            ></textarea>
            <div
              class="invalid-feedback"
              *ngIf="registroForm.controls['descripcionTrabajo']?.errors?.['required']"
            >
              La descripción del trabajo es obligatoria.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="registroForm.controls['descripcionTrabajo']?.errors?.['minlength']"
            >
              La descripción del trabajo debe tener al menos 100 caracteres.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="registroForm.controls['descripcionTrabajo']?.errors?.['maxlength']"
            >
              La descripción del trabajo no puede tener más de 500 caracteres.
            </div>
          </div>

          <!-- Actividades a realizar -->
          <div class="form-group">
            <label for="actividades">Actividades a realizar</label>
            <textarea
              class="form-control"
              id="actividades"
              name="actividades"
              [(ngModel)]="registro.actividades"
              required
              [ngClass]="{
                'is-invalid':
                  registroForm.controls['actividades'].invalid &&
                  registroForm.controls['actividades'].touched
              }"
            ></textarea>
            <div
              class="invalid-feedback"
              *ngIf="registroForm.controls['actividades']?.errors?.['required']"
            >
              Las actividades a realizar son obligatorias.
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <!-- Pago -->
              <div class="form-group">
                <label for="pago">Pago</label>
                <input
                  type="number"
                  class="form-control"
                  id="pago"
                  name="pago"
                  [(ngModel)]="registro.pago"
                  required
                  [ngClass]="{
                    'is-invalid':
                      registroForm.controls['pago'].invalid &&
                      registroForm.controls['pago'].touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="registroForm.controls['pago']?.errors?.['required']"
                >
                  El pago es obligatorio.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <!-- Tipo de contrato -->
              <div class="form-group">
                <label for="tipoContrato">Tipo de contrato</label>
                <select
                  class="form-control"
                  id="tipoContrato"
                  name="tipoContrato"
                  [(ngModel)]="registro.tipoContrato"
                  required
                  [ngClass]="{
                    'is-invalid':
                      registroForm.controls['tipoContrato'].invalid &&
                      registroForm.controls['tipoContrato'].touched
                  }"
                >
                  <option value="" disabled selected>
                    Selecciona un tipo de contrato
                  </option>
                  <option value="dia">Día</option>
                  <option value="horas">Horas</option>
                  <option value="honorarios">Honorarios</option>
                  <option value="mes">Mes</option>
                  <option value="otro">Otro</option>
                </select>
                <div
                  class="invalid-feedback"
                  *ngIf="registroForm.controls['tipoContrato']?.errors?.['required']"
                >
                  El tipo de contrato es obligatorio.
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <!-- Oficios ideales para trabajo -->
              <div class="form-group">
                <label for="oficios">Oficios ideales para trabajo</label>
                <select
                  class="form-control"
                  id="oficios"
                  name="oficios"
                  [(ngModel)]="registro.oficios"
                  required
                  [ngClass]="{
                    'is-invalid':
                      registroForm.controls['oficios'].invalid &&
                      registroForm.controls['oficios'].touched
                  }"
                  (change)="onChangeOficio($event)"
                >
                <option [ngValue]="0"  >
                  Selecciona ....
                </option>
                <option *ngFor="let ofi of oficios" [ngValue]="ofi.id_oficio">
                  {{ ofi.nombre }}
                </option>
                </select>
                <div
                  class="invalid-feedback"
                  *ngIf="registroForm.controls['oficios']?.errors?.['required']"
                >
                  Los oficios ideales para el trabajo son obligatorios.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <ul class="list-group">
                <li *ngFor="let o of oficios" class="list-group-item">
                  {{ o }}
                </li>
              </ul>
            </div>
          </div>

          <!-- Botón de enviar -->
          <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
            <button type="button" class="btn btn-danger btn-lg">
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</app-layout>
