.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #ffffff;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.logo {
    position: absolute;
    top: 20px; /* Ajusta la posición vertical según sea necesario */
    left: 20px; /* Ajusta la posición horizontal según sea necesario */
    width: 100px; /* Ajusta el ancho según sea necesario */
    height: auto; /* Ajusta la altura automáticamente */
  }
  