
body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: #fff;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    width: 100%;
    margin: 1rem 0;
    overflow-y: auto;
  }
  
  h1 {
    color: #fff;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .logo {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 100px; /* Ajusta el tamaño del logo según tus necesidades */
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  label {
    color: #ddd;
  }
  
  .form-control {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0.5rem;
  }
  
  .btn {
    background-color: #037171;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn:hover {
    background-color: #00b9ae;
    transform: scale(1.05);
  }
  
  /* Responsivo */
  @media (max-width: 767px) {
    .container {
      padding: 1rem;
    }
  
    .form-group {
      margin-bottom: 1rem;
    }
  }
  