<img src="logo.png" alt="Logo" class="logo" />
<div class="container">
  <h1>Listado de Ofertas de Trabajo</h1>
  <ul class="job-listing">
    <li *ngFor="let job of jobs">
      <div class="job-title">{{ job.title }}</div>
      <div class="job-description">
        Descripción del trabajo: {{ job.description }}
      </div>
    </li>
  </ul>

</div>

<button class="notification-button" (click)="incrementNotifications()">
  <img src="assets/images/boton-de-notificaciones.png" alt="Campanita" />
  <span class="notification-count" id="notification-count">{{ notificationCount }}</span>
</button>
